#about{
  border: 0px solid white;
  margin-top: 20px;
}

#aboutContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aboutLogo{
  border: 0px solid blue;
  width: 45%;
}
#aboutLogo img{
  width: 100%;
}
#aboutText{
  width: 50%;
  border: 0px solid yellow;
  display: grid;
  gap: 50px;
}
#aboutText p{
  font-size: 20px;
  text-align: justify;
}
@media screen and (max-width:820px) {
  #aboutContent{
    border: 0px solid white;
    display: grid;
  }
  #aboutLogo{
    border: 0px solid blue;
    width: 80%;
    margin: auto;
  }
  #aboutLogo img{
    width: 80%;
    display: block;
    margin: auto;
  }
  #aboutText{
    width: 80%;
    margin: auto;
    gap: 20px;
  }
  #aboutText p{
    font-size: 25px;
    text-align: justify;
  }
}
@media screen and (max-width:480px){
  #aboutContent{
    border: 0px solid white;
    display: grid;
  }
  #aboutLogo{
    border: 0px solid blue;
    width: 90%;
    margin: auto;
  }
  #aboutText{
    width: 80%;
    margin: auto;
    gap: 20px;
  }
  #aboutText p{
    font-size: 15px;
    text-align: justify;
  }
}