.nav{
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.767); */
    position: fixed;
    background-color:transparent;
    overflow: hidden;
    top: 0px;
    z-index: 1;
    /* box-shadow: rgba(255, 255, 255, 0.386) 0px 3px 8px; */
}
.active {
    border-bottom: 1px solid #ffc400;
    background-color: black;
    box-shadow: #ffc4008d 0px 3px 8px;
}
#navbar{
    color: white;
    height: auto;
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    border: 0px solid white;
    padding: 7px;
}
#bar{
    display: none;
}
#nav_menu{
    border: 0px solid white;
    display: flex;
    justify-content: space-between;
    font-family:sans-serif;
    align-items: center;
}
#nav_menu > p {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight:100;
    letter-spacing: 1px;
}
#nav_menu > p:hover{
    border: 0px solid white;
    cursor: pointer;
    /* background-color: #ffc400;
    color:black; */
    color:#ffc400 ;
}
