body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "nanumReg";
  src: url(./fonts/NanumGothicCoding-Regular.ttf);
}
@font-face {
  font-family: "nanumBold";
  src: url(./fonts/NanumGothicCoding-Bold.ttf);
}